* {
  margin: 0;
}
::-webkit-input-placeholder {
  color: #ccc;
}
html {
  background-color: #f8f8f8;
}
html,
body,
#app {
  height: 100%;
}
body {
  font-size: 0.28rem;
  line-height: 0.4rem;
}
.index-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
}
.index-wrap canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.index-wrap .radar-wrap {
  position: relative;
  margin-top: 20px;
  padding: 50%;
}
.index-wrap .radar-wrap .circle-line {
  position: absolute;
  left: 50%;
  top: 50%;
  border: 1px solid rgba(30, 199, 230, 0.25);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.index-wrap .radar-wrap .circle-line:nth-child(1) {
  width: 80%;
  height: 80%;
}
.index-wrap .radar-wrap .circle-line:nth-child(2) {
  width: 60%;
  height: 60%;
}
.index-wrap .radar-wrap .circle-line:nth-child(3) {
  width: 40%;
  height: 40%;
}
.index-wrap .radar-wrap .circle-line:nth-child(4) {
  width: 20%;
  height: 20%;
}
.index-wrap .radar-wrap .strange-line {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 1px;
  height: 80%;
  background-color: rgba(30, 199, 230, 0.25);
}
.index-wrap .radar-wrap .strange-line:nth-child(2) {
  transform: rotate(30deg);
}
.index-wrap .radar-wrap .strange-line:nth-child(3) {
  transform: rotate(60deg);
}
.index-wrap .radar-wrap .strange-line:nth-child(4) {
  transform: rotate(90deg);
}
.index-wrap .radar-wrap .strange-line:nth-child(5) {
  transform: rotate(120deg);
}
.index-wrap .radar-wrap .strange-line:nth-child(6) {
  transform: rotate(150deg);
}
.index-wrap .radar-wrap .scan-line {
  background-image: linear-gradient(44deg, rgba(62, 139, 77, 0) 50%, rgba(0, 255, 51, 0.5) 100%);
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: radar-beam 5s linear infinite;
          animation: radar-beam 5s linear infinite;
  /* 速度相同 */
  transform-origin: bottom right;
  border-radius: 100% 0 0 0;
}
.btn-wrap {
  position: absolute;
  width: 60%;
  left: 20%;
  margin-top: 0.4rem;
}
.btn-wrap a {
  display: block;
  box-sizing: border-box;
  line-height: 44px;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.btn-wrap a:first-child {
  margin-bottom: 16px;
}
@-webkit-keyframes radar-beam {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes radar-beam {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes twinkle {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  21% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes twinkle {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  21% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

