* {
  margin: 0;
}
::-webkit-input-placeholder {
  color: #ccc;
}
html {
  background-color: #f8f8f8;
}
html,
body,
#app {
  height: 100%;
}
body {
  font-size: 0.28rem;
  line-height: 0.4rem;
}
.video-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
}
.video-wrap video {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: auto;
  transform: translate(0, -50%);
}

